:root {
    --black: #000;
    --white: #FFF;
    --dark-gray: #161616;
    --gray: #797979;
    --pastel-turquoise: #b6e2d3;
    --turquoise: #50e3c2;
}


.navContainer {
    position: fixed;
    bottom: 0%;
    left: calc(50% - 35rem/2);
    min-width: 35rem;
}

.navLinks {
    display: flex;
    gap: 3em;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    padding: 2em;
    padding-bottom: 1em;
    background-color: var(--dark-gray);
    border: 1px solid var(--gray);
}

.navLinks a {
    text-decoration: none;
    color: var(--white);
}